__pycache__
img_backup/*
!img_backup/.gitkeep
img_mensajes/*
!img_backup/.gitkeep
img_productos/*
!img_productos/.gitkeep
img_usuarios/*
!img_usuarios/.gitkeep
img_test/*
!img_test/.gitkeep
img_mensajes/*
!img_mensajes/.gitkeep
